{% extends 'home/index.html' %}
{% block content %}
    <table class="table">
    {% for item in date %}
        <div class="post" style=" padding: 50px 0px;" id="post">
            <p class="date" id="date">
                {{ item.published_date |date:"Y.m.d"}}
            </p>
            <h2><a href="{% url 'home:blog' %}{{ item.url }}" id="link" class="text-decoration-none">{{ item.title }}</a></h2>
            <img src="{{ item.image.url }}">
            <p>{{ item.text|linebreaksbr }}</p>
            
            
            
            
        </div>
    {% endfor %}

    <ul class="pagination">
        <li class="page-item ">
            <a class="page-link" >
            {{ date.number}}/{{ date.paginator.num_pages}}</a>
        </li>
        {% if date.has_previous %}
        <li class="page-item a">
            <a class="page-link" href="{% url 'home:blog' %}">
                &laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" 
            href="{% url 'home:blog' %}{{date.previous_page_number}}">
                {{date.previous_page_number}}</a>
        </li>
        {% else %}
        
        {% endif %}
        <li class="page-item now">
            <a class="page-link">
            {{ date.number}}</a>
        </li>
        {% if date.has_next %}
        <li class="page-item">
            <a class="page-link" 
            href="{% url 'home:blog'  %}{{date.next_page_number}}">
                {{date.next_page_number}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" 
            href="{% url 'home:blog' %}{{date.paginator.num_pages}}">
                &raquo;</a>
        </li>
        {% else %}
        
        {% endif %}
    </ul>

       
    
    </table>

{% endblock %}