{% extends 'home/index.html' %}
{% block content %}
    <table class="table">
    {% for item in date %}
        <div class="post" style=" padding: 50px 0px;" id="post">
            <p class="date" id="date">
                {{ item.published_date |date:"Y.m.d"}}
            </p>
            <h2 id="detail_title">{{ item.title }}</h2>
            <img src="{{ item.image.url }}" >
            <p id="detail_text">{{ item.text|linebreaksbr }}</p>
            
        </div>
    {% endfor %}

    
    <a id ="backlink" href="{{request.META.HTTP_REFERER}}">Back</a>

       
    
    </table>

{% endblock %}