{% extends 'home/index.html' %}

{% block content %}

<div class="page-header" style=" padding: 10px 0px;">
    <h1 id="title">contact</h1>
    <p>contactdesu</p>
</div>


<form  method="post">
     {% csrf_token %}
     {{ form.non_field_errors }}
     
     {% for field in form %}
       <div style=" padding: 20px 0px;">
         <label for="{{ field.id_for_label }}" id="tii">
           {{ field.label_tag }}
         </label>
         <div >
           {{ field }}
           {{ field.errors }}
         </div>
       </div>
     {% endfor %}
     <button  type="submit" class="btn btn-secondary ">送信</button> 
   </form>



{% endblock %}