{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

    <link rel="stylesheet" type="text/css"
        href="{% static 'css/style.css' %}"/>

    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
<div class="container-lg" style=" padding: 5% 5%; ">

    <div class="page-header">
    <h1 id="logo" style=" padding: 20px 0px;"><a href="{% url 'home:top' %}"class="text-decoration-none">Acerola</a></h1>

        <ul id="nav" class="ue" style=" padding: 20px 0px;">

            <li><a href="{% url 'home:about' %}">about</a></li>
            <li><a href="{% url 'home:works' %}">music</a></li>
            <li><a href="{% url 'home:blog' %}">blog</a></li>
            <li><a href="{% url 'home:contact' %}">contact</a></li>

        </ul>
    </div>



    <div class="page-header" style=" padding: 10px 0px;">
    <h1 id="title">{{title}}</h1>
    <p>{{msg}}</p>
    </div>
    <div class="contents">
        <div class="row">
            <div class="col-md-12">


    {% if messages %}
                <div class="container">
                    <div class="row">
                        <div class="my-div-style w-100">
                        <ul class="messages" style="list-style: none;">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                            </div>
                    </div>
                </div>
                {% endif %}

    {% block content %}{% endblock %}


            </div>
        </div>
    </div>

    <div class="page-footer ">


        <ul id="nav" class="sita" style=" padding: 20px 0px;">

            <li><a href="{% url 'home:about' %}">about</a></li>
            <li><a href="{% url 'home:works' %}">works</a></li>
            <li><a href="{% url 'home:blog' %}">blog</a></li>
            <li><a href="{% url 'home:contact' %}">contact</a></li>

        </ul>
    </div>


</div>



</body>
</html>