{% extends 'home/index.html' %}
{% block content %}

<div id="mainVisual" style=" padding: 0% 0% 20%;">
    <img src="../../static/img/top.jpg" >
</div>



<div style=" padding: 0% 0% 20%;">

    <h1 id="title" class="toptext "><a href="{% url 'home:works' %}" class="text-decoration-none">Music</a></h1>
    <div class="container-fluid topmove" style=" padding: 10px 0px;">
    <ul id="top">
    {% for item in date %}
    <li id="top2">
    <div style=" padding: 20px 0px;">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" style=" padding: 3px 5px;"
        src="{{ item.text}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <h2><a href="{% url 'home:works' %}{{ item.url }}" id="link" class="text-decoration-none" >{{ item.title }}</a></h2>
    </div>
    </li>
    {% endfor %}
    </ul>
    </div>


</div>

<div style=" padding: 0% 0% 20%;">

    <h1 id="title" class="toptext"><a href="{% url 'home:blog' %}"class="text-decoration-none">Blog</a></h1>
    <div class="container-fluid topblog" style=" padding: 10px 0px;" id="post">
    <ul id="top">
    {% for item in date2 %}
    <li id="top2">

        <div class="post" style=" padding: 30px 0px;">
            <div class="date" id="top_date">
            {{ item.published_date |date:"Y.m.d" }}
            </div>
            <a href="{% url 'home:blog' %}{{ item.url }}" id="link" class="text-decoration-none"><img src="{{ item.image.url }}" style=" padding: 0px 5px;"></a>

            <h2><a href="{% url 'home:blog' %}{{ item.url }}" id="link" class="text-decoration-none">{{ item.title }}</a></h2>


        </div>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>









{% endblock %}