{% extends 'home/index.html' %}
{% block content %}
{% for item in date %}
<table class="table" >
    <div class="container" style=" padding: 50px 0px;">
    <h2 id="detail_title">{{ item.title }}</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
        src="{{ item.text}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
    
    </div>
    
{% endfor %}

<a id ="backlink" href="{{request.META.HTTP_REFERER}}">Back</a>


       
    
</table>

{% endblock %}