#nav.ue {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;




  }

        #nav.ue li {
          width: 100px;
          height: 40px;
          text-align: center;
          display: inline-block;
        }

  #nav.ue li a {
    text-decoration: none;
    font-weight: lighter;
    color: rgb(44, 44, 51);
  }
  #nav.ue li a:hover{
    color: rgb(180, 178, 178);
  }

#logo {
  display: flex;
  justify-content: flex-start;

}
#logo a {
  color: rgb(44, 44, 51);
}
#logo a:hover{
  color: rgb(180, 178, 178);
}






.contents{
  padding: 20px 0px;
}

#title {

  font-size: 50px;
  font-weight: 100;

}
p {font-weight:lighter;
}


.pagination{
  padding: 100px ;

}
.pagination>li>a{
  border-radius: 0;
}


.page-link{
  color: rgb(44, 44, 51);

}


.pagination>li> a{
  color: rgb(44, 44, 51);
  border: 0px none;
  border-radius: 0px none;

}
.pagination>li.now> a{
 font-weight: 700;



}



.pagination>li> a:hover{
  color: rgb(180, 178, 178);
  background-color: transparent;
}
.pagination>li.disabled> a{
  color: rgb(228, 118, 15);
}

#nav.sita {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;




}

      #nav.sita li {
        width: 100px;
        height: 40px;
        text-align: center;
        display: inline-block;
      }

#nav.sita li a {
  text-decoration: none;
  font-weight: lighter;
  color: rgb(44, 44, 51);
}
#nav.sita li a:hover{
  color: rgb(180, 178, 178);
}



#tii {

  font-size: 15px;
  font-weight: 100;

}

.topmove {

  /* 追記 */
  justify-content:center;
}

.topblog {
  display:flex;
  /* 追記 */
  justify-content:center;
}

.toptext{
  text-align: center
}

.toptext a {
  color: rgb(44, 44, 51);
  text-decoration: none;
}

.toptext a:hover{
  color: rgb(180, 178, 178);
}


#mainVisual img {
  width: 100%;

  height: auto;
}

#top{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  padding: 0px;

}
#top2{
  width: 50%;
  text-align: center;

}

#link  {
    color: rgb(44, 44, 51);
    text-decoration: none;
    font-size: 25px;
  font-weight: 100;
  }

#link:hover{
    color: rgb(180, 178, 178);
  }

#date{
  text-align: right;
}
#top_date{
  text-align: right;
  font-weight: 100;
}



#post img {
  width: 100%;

  height: auto;
}

body{
  font-family:sans-serif;
}

#detail_text{
  font-size: 16px;
font-weight: 100;

}

#detail_title{
font-size: 28px;
font-weight: 100;
}

#backlink  {
  color: rgb(44, 44, 51);
  text-decoration: none;

font-size: 17px;
font-weight: 100;
}

#backlink:hover{
  color: rgb(180, 178, 178);
}
